<%- include("header") -%>

<h1> nome: <%= nome %> </h1>
<h1> curso: <%= curso %> </h1>
<h1> matricula: <%= matricula %> </h1>
<h1> hora da reserva: <%= horaDaReserva %> </h1>

<%- include("footer") -%>